<#bs4Body>
<style>
    .w-200px{width: 200px!important;}
    .w-100px{width: 100px!important;}
    /*两边无边距*/
    .container-fluid{
        width: 100%;
        padding: inherit !important;
        margin-right: auto;
        margin-left: auto;
    }
</style>
<!--
 内联元素:让元素排成一行显示出来，且高度和宽度由内容决定，不能用css控制
 块状元素:独立占一行
 内联元素与块状元素对立
 内联(inline)表单:表单排在一行显示，只有在from中指定  class="form-inline"即可让表单成内联显示
      一定要添加 label 标签
      如果你没有为每个输入控件设置 label 标签，屏幕阅读器将无法正确识别。对于这些内联表单，你可以通过为 label 设置 .sr-only 类将其隐藏。还有一些辅助技术提供label标签的替代方案，比如 aria-label、aria-labelledby 或 title 属性。如果这些都不存在，屏幕阅读器可能会采取使用 placeholder 属性，如果存在的话，使用占位符来替代其他的标记，但要注意，这种方法是不妥当的。
-->
<!--注意label中的for 与 input中的保持一致-->
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <nav>
                <div id="nav" style="padding-left:15px;padding-top:10px;padding-bottom: 10px;" align="left">
                    <#nav/>
                </div>
            </nav>
            <form id="queryForm" role="form" class="form-inline" novalidate>
                <div class="form-group mb-2 mr-5">
                    <label for="type" class="justify-content-end mr-2 w-100px">业务类型:</label>
                    <input type="text" class="form-control" name="type" id="type"/>
                </div>
                <div class="btn-group mb-2">
                    <button id="query" type="button" class="btn btn-success mr-1" onclick="queryDataHandler()"><i class="fa fa-search"></i> 查询</button>
                    <button id="clear" type="button" class="btn btn-danger" onclick="javascript:$('#queryForm')[0].reset();"><i class="fa fa-trash-o"></i> 清除</button>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div id="toolbar" class="btn-group" role="group" aria-label="Toolbar with button groups">
                <button id="export" type="button" class="btn btn-primary" onclick="bui.util.doExport('grid','queryForm')"><i class="fa fa-download"></i> 导出</button>
            </div>
<!--            <div id="toolbar" class="btn-group" role="group" aria-label="Toolbar with button groups">-->
<!--                <button id="btn_add" type="button" class="btn btn-outline-primary mr-1" onclick="openInsertHandler()" data-title="新增客户"><i class="fa fa-plus"></i> 新增</button>-->
<!--                <button id="btn_edit" type="button" class="btn btn-outline-primary mr-1" onclick="openUpdate()"><i class="fa fa-pencil-square-o"></i> 修改</button>-->
<!--                <button id="btn_user" type="button" class="btn btn-outline-primary mr-1"><i class="fa fa-user"></i> 客户</button>-->
<!--                <button id="btn_enable" type="button" class="btn btn-outline-primary mr-1"><i class="fa fa-play"></i> 启用</button>-->
<!--                <button id="btn_disabled" type="button" class="btn btn-outline-primary mr-1"><i class="fa fa-stop"></i> 禁用</button>-->
<!--                <button id="export" type="button" class="btn btn-outline-primary mr-1" onclick="bui.util.doExport('grid','queryForm')"><i class="fa fa-download"></i> 导出</button>-->
<!--            </div>-->
            <table id="grid" data-toggle="table" data-title="业务号" class="table" data-toolbar="#toolbar" data-pagination="true" data-page-number="1" data-page-size="10"
                   data-query-params="queryParams" data-side-pagination="server" data-method="POST" data-content-type="application/x-www-form-urlencoded" data-single-select="true"
                   data-click-to-select="true" data-checkbox-header="true" data-unique-id="id" data-sort-name="id" data-sort-order="desc"  data-icons="bui.variable.icons" data-buttons-class="primary"
                   data-show-refresh="true" data-show-fullscreen="true" data-show-columns="true" data-detail-view="false">
                <thead>
                <tr>
                    <th data-width-unit="%" data-width="2" data-radio="true"></th>
                    <th data-width-unit="%" data-width="10" data-field="type" data-sortable="true" data-align="center">
                        业务类型
                    </th>
                    <th data-width-unit="%" data-width="10" data-field="value" data-sortable="true" data-align="center">
                        值
                    </th>
                    <th data-width-unit="%" data-width="10" data-field="memo" data-sortable="true" data-align="center">
                        备注
                    </th>
                    <th data-width-unit="%" data-width="10" data-field="version" data-sortable="true" data-align="center" >
                        版本号
                    </th>
                    <th data-width-unit="%" data-width="15" data-field="created" data-sortable="true" data-align="center" data-provider="datetimeProvider">
                        创建时间
                    </th>
                    <th data-width-unit="%" data-width="15" data-field="modified" data-sortable="true" data-align="center" data-provider="datetimeProvider">
                        修改时间
                    </th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

</#bs4Body>
<#bn_indexJs />